.wrapper {
  padding: 48px 48px 48px 48px;
  background-color: #F4F4F4;
}

h2 {
  padding-top: 1em;
  font-size: 2em;
  font-weight: 900;
  color: #3c3b3b;
  font-family: "Raleway", Helvetica, sans-serif;
  letter-spacing: 0.25em;
  line-height: 1.65;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}
p {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.25em;
  line-height: 2.5;
  text-transform: uppercase;
}

h3 {
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 800;
  letter-spacing: 0.25em;
  line-height: 1.65;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  font-size: 0.8em;
}

.side-bar {
  padding-top: 2em;
  .logo {
    border-radius: 50%;
    width: 75px;
    height: 75px;
  }
}

.section {
  border-top: solid 1px rgba(160, 160, 160, 0.3);
  margin: 3em 0 0 0;
  padding: 3em 0 0 0;
}

.section-2 {
  border-top: solid 1px rgba(160, 160, 160, 0.3);
  margin: 1.5em 0 0 0;
  padding: 1.5em 0 0 0;
}

.card-side {
  width: 100%;
  padding-bottom: 2.5em;
  img {
    height: 12em;
    width: 100%;
    background-size: cover;
  }
  .title {
    position: relative;
    background: #fff;
    width: 100%;
    padding: 1.25em 4.25em 0.1em 1.25em;
    .time {
      font-size: 0.6em;
      margin: -0.625em 0 1.7em 0;
    }
    img {
      border-radius: 50%;
      height: 3em;
      width: 3em;
      position: absolute;
      top: 1.3em;
      right: 2.5em;
    }
  }
}

.posts {
  padding-left: 6em;
  padding-right: 2em;
  .time {
    margin-top: -0.9em;
  }
  img {
    position: absolute;
    top: 0em;
    left: 2em;
    height: 4em;
    width: 4em;
  }
}

.article {
  border: solid 1px rgba(160, 160, 160, 0.3);
  background-color: #fff;
  margin-bottom: 3em;
  .left-content {
    border-right: solid 1px rgba(160, 160, 160, 0.3);
    padding: 3.75em 3em 3.3em 3em;
    p {
      font-size: 0.7em;
    }
    h2 {
      font-size: 1.7em;
    }
  }
  .right-content {
    padding: 5em 3em 3.3em 3em;
    h2 {
      color: #3c3b3b;
      font-family: "Raleway", Helvetica, sans-serif;
      font-size: 0.7em;
      font-weight: 800;
      letter-spacing: 0.25em;
      margin-top: 0.5em;
      text-transform: uppercase;
      margin-bottom: 1.5em;
    }
    .name {
      font-family: "Raleway", Helvetica, sans-serif;
      font-size: 0.7em;
      font-weight: 400;
      letter-spacing: 0.25em;
      line-height: 2.5;
      text-transform: uppercase;
    }
    img {
      border-radius: 50%;
      height: 3em;
      width: 3em;
    }
  }

  .img-article {
    padding: 3.75em 3em 3.3em 3em;
    border-top: solid 1px rgba(160, 160, 160, 0.3);
    img {
      width: 100%;
      height: 18em;
      background-size: cover;
    }
    p {
      text-transform: initial;
      text-align: justify;
      margin-bottom: 3em;
    }
  }
}

.btn-primary {
  background: transparent;
  color: #3c3b3b;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.6em;
  font-weight: 800;
  height: 4.8125em;
  letter-spacing: 0.25em;
  line-height: 4.8125em;
  padding: 0 2.5em;
  text-transform: uppercase;
}
