.first-content {
  font-size: 2em;
  font-family: "Raleway", Helvetica, sans-serif;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background: #CC0000;
  padding: 5em 0 5em 0em;
}
.navbar-default .navbar-nav > li > a {
  font-size: 0.7em;
  font-family: "Raleway", Helvetica, sans-serif;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  padding: 0em 1em 0em 1.5em;
  margin-top: 1.25em;
  border-left: solid 1px rgba(160, 160, 160, 0.3);
}

.navbar-default .navbar-nav > li:first-child > a {
  border-left: none;
}
.navbar {
  margin-bottom: 0;
}
.navbar-brand {
  font-size: 0.7em;
  font-family: "Raleway", Helvetica, sans-serif;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 22px;
  border-right: solid 1px rgba(160, 160, 160, 0.3);
}

.search-form .form-group {
  float: right;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 32px;
  &:hover {
  width: 165%;
  }
}
.search-form .form-group input.form-control {
  display:block;
  font-size: 0.7em;
  font-family: "Raleway", Helvetica, sans-serif;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #CC0000;
  height: 25px;
  padding-right: 20px;
  padding-top: 15px;
  margin-top: 8px;
  border: none;
  box-shadow: none;
  background: transparent;

  &::-webkit-input-placeholder { /* Safari, Google Chrome, Opera 15+ and Microsoft Edge */
    color: #CC0000;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #CC0000;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #CC0000;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #CC0000;
  }
}

.form-control-feedback {
  color: #CC0000;
  top: 8px;
  width: 50px;

}


@media(max-width:925px){
  .navbar-brand {
    border-right: none;
  }

  .search-form {
    display: none;
  }

  .navbar-default .navbar-nav {
    margin: 0px;

    li:first-child > a {
    border-left: solid 1px rgba(160, 160, 160, 0.3);
    }
  }
  .first-content {
    display: none;
  }
}
